/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2014/10   

***********************************************************************************************/

/* 1. 通用 
===============================================================================================*/
body{
	margin: 0;
	padding:0;
	background-color:#FFF
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU",Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#535353}
a:link {text-decoration:underline; color:#2a2a2a}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#b07348}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

/* 2 首頁
===============================================================================================*/
#wrap{ display:block; width:775px; margin:0 auto}

/* 2.1 頂端區塊 */
header{ display:block; width:775px; padding:10px 0 14px 0}
h1 a{ display:block;
	width:135px;
	height:130px;
	float:left;
	background:url(../images/logo.jpg);
	text-indent:-9999px}
nav{ 
    display:block;
	float:right; 
	width:623px;
	padding:70px 0 0 17px}
	
.navigation li { position: relative; float: left}
.navigation li a{display: block; height:35px; margin-left:23px}
.nav_01, .nav_01:hover, .nav_02, .nav_02:hover, .nav_03, .nav_03:hover, .nav_04, .nav_04:hover, .nav_05, .nav_05:hover{
	display:block;
	background:url(../images/bg_nav.png) no-repeat;
	text-indent:-9999px}	
.nav_01{
	width:85px;
	background-position: 0 0}
.nav_01:hover, .navigation li:hover a.nav_01{
	background-position: 0 -175px}	
.nav_02{
	width:165px;
	background-position: 0 -35px}
.nav_02:hover{
	background-position: 0 -210px}	
.nav_03{
	width:85px;
	background-position: 0 -70px}
.nav_03:hover{
	background-position: 0 -245px}	
.nav_04{
	width:85px;
	background-position: 0 -105px}
.nav_04:hover{
	background-position: 0 -280px}	
.nav_05{
	width:85px;
	background-position: 0 -140px}
.nav_05:hover{
	background-position: 0 -315px}
.navigation ul{
	display: none;
	float: left;
	position: absolute;			
	left: 12px;
	z-index:999;	
	margin: 0}
.navigation li:hover > ul{display: block}			
.navigation ul a {
	width:65px;
	height:25px;
	padding: 5px 6px 0 15px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:.813em;	
	color: #000;
	text-align:left;
	text-decoration:none;		
	background: #fff;
	border:1px solid #000;
	overflow:hidden}
.navigation ul a:hover{ color:#fff; background:#000; text-decoration:none}

	
/* 2.2 首頁內容 */
#container{
	display:block;
	width:775px}
#banner{
	display:block;
	width:775px;
	height:315px}
#banner h3{ display:none}
#visitors{
	display:block; 
    font-size:.813em; 
	text-align:center}
.visitors_left{ padding-right:10px}
.visitors_right{ padding-left:10px}



/* 3 計畫介紹
===============================================================================================*/
#box_about{
	display:block;
	padding-top:75px}
#box_about h3{
	font-family:Verdana, Geneva, sans-serif;
	font-size:1.125em;
	line-height:25px;
	padding-bottom:35px;
	letter-spacing:1px}
#box_about h4{ padding-bottom:5px}	
#box_about p{
	font-size:.813em;
	line-height:22px;
	padding-bottom:15px}

/* 4 factory map
===============================================================================================*/
/* 5 work
===============================================================================================*/
/* 6 exhibition
===============================================================================================*/
/* 7 contact
===============================================================================================*/
/* 8 403、404頁
===============================================================================================*/
